﻿@model IEnumerable<Task3.MusicStoreWebApplication.Models.Genre>

@{
    ViewBag.Title = "Index";
}


<h3>Browse Genres</h3>
<ul>
    @foreach (var genre in Model)
    {
        <li>
            @*<a href="/Store/Browse?genre=@genre.Name">@genre.Name</a>*@
            <!-- set parametars-->
            @Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })
        </li>
    }
</ul>

@section Aside{
    <h3>This is Section</h3>
    <ul>
        @for (int i = 0; i < 5; i++)
        {
            <li>@("Section row" + i)</li>
        }
    </ul>
}


