﻿@model Task3.MusicStoreWebApplication.Models.Album

<div class="control-group">
    @Html.LabelFor(model => model.Title, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-inline" })
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.GenreId, "Genre", new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownList("GenreId", String.Empty)
        @Html.ValidationMessageFor(model => model.GenreId, null, new { @class = "help-inline" })
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.ArtistId, "Artist", new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownList("ArtistId", String.Empty)
        @Html.ValidationMessageFor(model => model.ArtistId, null, new { @class = "help-inline" })
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.Price, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price, null, new { @class = "help-inline" })
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.AlbumArtUrl, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.AlbumArtUrl)
        @Html.ValidationMessageFor(model => model.AlbumArtUrl, null, new { @class = "help-inline" })
    </div>
</div>

