﻿@model Task3.MusicStoreWebApplication.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>
<p>
    Are you sure you want to delete the album titled
    <strong>@Model.Title</strong>?
</p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
