﻿
@model _2.ByteCalculatorWebApplication.Models.Bit
@{
    ViewBag.Title = "BitCalculator";
}

<h2>BitCalculator</h2>

@using (Html.BeginForm("BitCalculator", "Home", FormMethod.Post))
{

    <div>
        @Html.Label("Quantity", "Quantity: ")
        @Html.TextBox("Quantity")
    </div>

    <div>
        @Html.Label("Types", "Type: ")
        @Html.DropDownList("Types")
    </div>

    <div>
        @Html.Label("Kilo", "Kilo: ")
        @Html.DropDownList("Kilo")
    </div>

    <input type="submit" value="GO" class="btn" />
}

@if (ViewBag.Results != null)
{
    <table class="table table-hover table-condensed">
        @for (int i = 0; i < ViewBag.Results.Count; i++)
        {
            <tr>
                <td>@ViewBag.Results[i].Name</td>
                <td>@ViewBag.Results[i].Value</td>
            </tr>
        }
    </table>
}

